.container {
  margin: 0;
}

/* HEADER */

.logo {
  padding: 2rem;
}

.sign-up-desktop {
  transition: none;
}

.sign-up-desktop:hover {
  background-color: white;
  border-radius: 0;
  color: var(--blue-color);
  transform: none;
}

/* SEARCH */

#search {
  margin-bottom: 0;
}

.title,
.sub-title {
  width: 80%;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.search-input {
  padding: 2rem;
  margin-bottom: 0;
}

.search-input input {
  width: 50%;
}

/* FILTERS */

.filters {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.filters-title {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.filters-icon {
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.infos {
  width: 100%;
  padding: 2rem;
}

/* HOSTING */

#hosting {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
  padding: 3rem;
}

.hosting-container {
  /* justify-content: space-around; */
  width: 100%;
  margin-right: 0rem;
}

.hosting-choice {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.hosting-card {
  width: 47.5%;
}

.most-popular {
  display: flex;
  flex-direction: column;
align-items: center;  
width: 100%;
  margin-bottom: 3rem;
}

.most-popular-header {
  width: 70%;
}

.most-popular-card {
  box-shadow: 0px 0px 7px 1px #d2d2d2;
  border: none;
  padding: 0.5rem;
  width: 70%;
}

/* ACTIVITIES */

#activities {
  padding: 3rem;
  margin-bottom: 0;
}

.activities-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities-single {
  width: 50%;
  padding: 0 1rem 0 0;
}

.activities-double {
  padding: 0 0 0 1rem;
  width: 50%;
}

.activities-double2 {
  padding: 0 0 0 1rem;
  width: 50%;
}

.activities-double-card {
  margin-bottom: 2rem;
}

.activities-single-card:hover {
  transform: none;
}

.activities-double-card:hover {
  transform: none;
}

/* FOOTER */

.list-container {
  justify-content: center;
}

.list-bloc {
  margin-bottom: 2rem;
  padding: 2rem;
}
